#wrapper {
  margin: 1em auto;
  width: 860px;
  border: 4px solid #1445cc;
  background-color: #ffffff;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 41px auto auto;
}

body{
  background-color: grey;
}

header {
  margin: 0px;
  border: 0px solid;
  grid-column: span 4;
  background-image: linear-gradient(to bottom, #2f76e0, #1c61d3, #0e4bc5, #0b34b5, #1218a4);  display: block;

}

nav {
  margin: 0px;
  border: 0px solid blue;
  background-color: darkblue;
  grid-column: span 4;
  font-family: helvetica, sans-serif;
  font-weight: normal;
  background-image: linear-gradient(to bottom, #2f76e0, #1c61d3, #0e4bc5, #0b34b5, #1218a4);  display: block;
}

main {
  border: 0px;
  grid-column: span 4;
  padding: 0px;
  margin: 24px 24px 12px 24px;
}

.justify {
  text-align: justify;
  font-weight: bold;
}

.unjustify {
  text-align: left;
}

.dan {
  float: left;
  width: 380px;
  border: 3px solid #1445cc;
  padding: 0px;
  margin: 0em 1em 2em 0em;
}

footer {
  border-top: 4px solid #1445cc;
  grid-column: span 4;
  padding: 8px 16px 8px 24px;
  margin: 0px;
  background-color: red;
  background-position: left;
}

footer a {
  display: inline-block;
}

h1 {
  font-family: helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
  padding: 24px;
  margin: 0px;
}

header a{
  text-decoration: none;
  color: #67d4f5;
}

header a:hover{
  text-decoration: none;
  color: white;
}

h2 {
  font-family: helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #1445cc;
  border-bottom: 3px solid #1445cc;
  margin: 0px 0 24px 0;
  padding-bottom: 4px;
}

.textstyle {
  font-family: georgia, Arial, sans-serif;
  font-weight: bold;
  text-align: justify;
}

.textstyle2 {
  text-align: left;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  Padding: 0px;
  border: 0px solid;
}

nav li {
  border-right: 4px solid #1445cc;
  margin: 0px;
  padding: 0px;
  width: 212px;
  display: inline-block;
}

nav li a {
  font-weight: bold;
  background-image: linear-gradient(to bottom, #2f76e0, #1c61d3, #0e4bc5, #0b34b5, #1218a4);  display: block;
  padding: 12px 24px;
  text-decoration: none;
  color: #67d4f5;
}

nav li a:hover {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(to top, #2f76e0, #1c61d3, #0e4bc5, #0b34b5, #1218a4);
}

main a:link {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

main a:visited {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

main a:hover {
  color: darkred;
  text-decoration: underline;
}

.table {
  float: right;
  width: 430px;
  border: 3px solid #1445cc;
  padding: 0px;
  margin: 0 0 1em 24px;
}

.sam {
  display: inline;
  width: 249px;
  border: 3px solid #1445cc;
  padding: 0px;
  margin: 0em 1em 0px 0;
}

.crashmore {
  display: inline;
  width: 250px;
  border: 3px solid #1445cc;
  padding: 0px;
  margin: 0 1em 0px 0;
}

.insta {
  display: inline;
  width: 250px;
  border: 3px solid #1445cc;
  padding: 0px;
  margin: 0 0 0px 0;
}
