#wrapper {
  margin: 1em auto;
  width: 960px;
  border: 3px solid black;
  background-color: #ffffff;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

header {
  margin: 16px;
  border: 0px solid red;
  grid-column: span 4;
  background-color: black;
}

nav {
  margin: 0px 16px;
  border: 0px solid blue;
  grid-column: span 1;
  font-family: helvetica, sans-serif;
  font-weight: normal;
}

main {
  border: 0px solid red;
  grid-column: span 3;
}

footer {
  border-top: 3px solid black;
  grid-column: span 4;
  font-family: verdana, sans-serif;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  color: white;
  padding: 0px 100px;
  margin: 0px;
  background-color: red;
}

h1 {
  font-family: helvetica, Arial, sans-serif;
  font-weight: normal;
  color: white;
  padding: 20px;
  margin: 0px;
}

h2 {
  font-family: helvetica, Arial, sans-serif;
  font-weight: bold;
  border-bottom: 3px solid black;
  margin: 0px 16px 16px 0px;
  padding-bottom: 8px;
}

.wall {
  width: 480px;
  float: left;
  border: 3px solid black;
  padding: 8px;
  margin: 0px 16px 8px 0px;
}

.textstyle {
  font-family: georgia, Arial, sans-serif;
  font-weight: bold;
  text-align: justify;
}

.textstyle2 {
  text-align: left;
}

body {
  background-color: #darkred;
  background-image: url(a62.png);
  background-repeat: repeat;
  background-position: top left;
}

main {
  background-color: white;
  border: 0px solid #0000ff;
  padding: 0px;
  margin: 0px 16px 0px 0px;
  text-align: justify;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  Padding: 0px;
  border: 0px solid;
}

nav li {
  border: 0px solid;
  margin: 0px 0px 16px 0px;
  padding: 0px;
  width: 210px;
  display: inline-block;
}

nav li a:link{
  font-weight: normal;
  color: white;
  background-color: red;
  display: block;
  padding: 16px;
  text-decoration: none;
}

nav li a:hover {
  color: white;
  text-decoration: none;
  background-color: darkred;
}

nav li a:visited {
  color: white;
  text-decoration: none;
}

a:link {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}
