body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 0px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

header {
  margin-bottom: 24px;
  padding: 0;
  width: 1200px;
  border: 0px solid #ff0000;
  background-color: #21437D;
  display: grid;
  grid-column: span 12;
  box-shadow: -10px -10px 0px #F1CDD5;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 10px;
}

header a {
  color: #21437D;
  font-size: 48px;
  padding: 24px;
}

header a:hover {
  color: white;
}

h1 {
  text-align: center;
  color: #F1CDD5;
  width: 1200px;
  font-size: 50px;
  font-family: 'Send Flowers', cursive;
  font-weight: normal;
  text-shadow: 6px 6px 2px #000;
}

nav {
  margin: 0px;
  padding: 0px;
  grid-column: span 12;
  display: block;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  Padding: 0px;
  border: 0px solid;
}

nav li {
  border: 0px solid;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 12px;
  padding: 0px;
  width: 368px;
  display: inline-block;
  text-align: center;
  font-size: 50px;
  text-shadow: 3px 3px 3px #666;
  font-family: alwyn-new-rounded-web,sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav li a:link{
  color: #21437D;
  background-color: #8E82BF;
  display: block;
  padding: 15px;
  text-decoration: none;
  transition: background-color 1.0s, width 2.0s, color 1.0s, text-shadow 2.0s;
}

nav li a:hover {
  color: #F1CDD5;
  text-decoration: none;
  background-color: #C7B9FF;
  text-shadow: 5px 5px 5px #666;
}

nav li a:visited {
  color: #F1CDD5;
  text-decoration: none;
}

main {
  margin: 1em auto;
  padding: 0;
  width: 1200px;
  border: 0px solid #ff0000;
  background-color: #F1CDD5;
  grid-column: span 12;
  box-shadow: 10px 10px 10px #666;
  border-radius: 20px;
}

.me {
  display: inline-block;
  float: left;
  padding: 24px;
  width: 300px;
  margin-left: 60px;
  border: 0px solid #ff0000;
  border-radius: 200px;
}

.about {
  display: inline-block;
  font-size: 50px;
  width: 680px;
  margin-left: 42px;
  margin-top: 80px;
  color: #21437D;
  text-align: center;
  font-family: alwyn-new-rounded-web, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.imagelinks {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0;
  width: 1200px;
  border: 0px solid #ff0000;
  background-color: ;
  grid-column: span 12;
}

.chihiro {
  position: relative;
  display: inline-block;
  padding: ;
  width: 578px;
  margin-right: 15px;
  border: 0px solid #8E82BF;
}

.chihiro div {
  position: absolute;
  bottom: 40%;
  top: 40%;
  right: 50%;
  Left: 30%;
  color: #21437D;
  font-size: 70px;
  margin-bottom: 0px;
  opacity: 0;
  visibility: hidden;
  font-family: alwyn-new-rounded-web,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chihiro:hover div {
  visibility: visible;
  opacity: 0.5;
}

.sloth {
  position: relative;
  display: inline-block;
  padding: 0;
  width: 578px;
  margin-left: 24px;
  border: 0px solid #8E82BF;
}

.sloth div {
  position: absolute;
  bottom: 40%;
  top: 40%;
  right: 50%;
  Left: 25%;
  color: #21437D;
  font-size: 70px;
  margin-bottom: 0px;
  opacity: 0;
  visibility: hidden;
  font-family: alwyn-new-rounded-web,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sloth:hover div {
  visibility: visible;
  opacity: 0.5;
}

.video {
  margin-top: 12px;
  width: 578px;
  height: 450px;
  grid-column: span 6;
}

.adventuretime {
  margin-top: 12px;
  grid-column: span 6;
}

footer {
  margin-top: 24px;
  width: 1152px;
  border: 0px solid black;
  padding: 24px;
  background-color: #F1CDD5;
  grid-column: span 12;
  text-align: center;
}

footer a {
  color: #21437D;
  font-size: 48px;
  padding: 24px;
}

footer a:hover {
  color: white;
}
